In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as stats
import math

In [2]:
df_2015 = pd.read_csv(r'C:\Users\SaraR\Desktop\Máster\Data Science & Advanced Analytics\Trabajo en grupo (python)\2015.csv')
df_2016 = pd.read_csv(r'C:\Users\SaraR\Desktop\Máster\Data Science & Advanced Analytics\Trabajo en grupo (python)\2016.csv')
df_2017 = pd.read_csv(r'C:\Users\SaraR\Desktop\Máster\Data Science & Advanced Analytics\Trabajo en grupo (python)\2017.csv')
df_2018 = pd.read_csv(r'C:\Users\SaraR\Desktop\Máster\Data Science & Advanced Analytics\Trabajo en grupo (python)\2018.csv')
df_2019 = pd.read_csv(r'C:\Users\SaraR\Desktop\Máster\Data Science & Advanced Analytics\Trabajo en grupo (python)\2019.csv')

In [3]:
df_2015["Year"] = "2015"
df_2016["Year"] = "2016"
df_2017["Year"] = "2017"
df_2018["Year"] = "2018"
df_2019["Year"] = "2019"

In [4]:
df_2017.rename(columns={'Happiness.Rank': 'Happiness Rank', 'Happiness.Score': 'Happiness Score', 'Economy..GDP.per.Capita.':'Economy (GDP per Capita)', 'Health..Life.Expectancy.': 'Health (Life Expectancy)',
                        'Trust..Government.Corruption.': 'Trust (Government Corruption)', 'Dystopia.Residual': 'Dystopia Residual'}, inplace=True)
print(df_2017)

                      Country  Happiness Rank  Happiness Score  Whisker.high  \
0                      Norway               1            7.537      7.594445
1                     Denmark               2            7.522      7.581728
2                     Iceland               3            7.504      7.622030
3                 Switzerland               4            7.494      7.561772
4                     Finland               5            7.469      7.527542
..                        ...             ...              ...           ...
150                    Rwanda             151            3.471      3.543030
151                     Syria             152            3.462      3.663669
152                  Tanzania             153            3.349      3.461430
153                   Burundi             154            2.905      3.074690
154  Central African Republic             155            2.693      2.864884

     Whisker.low  Economy (GDP per Capita)    Family  \
0       7.479556                  1.616463  1.533524
1       7.462272                  1.482383  1.551122
2       7.385970                  1.480633  1.610574
3       7.426227                  1.564980  1.516912
4       7.410458                  1.443572  1.540247
..           ...                       ...       ...
150     3.398970                  0.368746  0.945707
151     3.260331                  0.777153  0.396103
152     3.236570                  0.511136  1.041990
153     2.735310                  0.091623  0.629794
154     2.521116                  0.000000  0.000000

     Health (Life Expectancy)   Freedom  Generosity  \
0                    0.796667  0.635423    0.362012
1                    0.792566  0.626007    0.355280
2                    0.833552  0.627163    0.475540
3                    0.858131  0.620071    0.290549
4                    0.809158  0.617951    0.245483
..                        ...       ...         ...
150                  0.326425  0.581844    0.252756
151                  0.500533  0.081539    0.493664
152                  0.364509  0.390018    0.354256
153                  0.151611  0.059901    0.204435
154                  0.018773  0.270842    0.280876

     Trust (Government Corruption)  Dystopia Residual  Year
0                         0.315964           2.277027  2017
1                         0.400770           2.313707  2017
2                         0.153527           2.322715  2017
3                         0.367007           2.276716  2017
4                         0.382612           2.430182  2017
..                             ...                ...   ...
150                       0.455220           0.540061  2017
151                       0.151347           1.061574  2017
152                       0.066035           0.621130  2017
153                       0.084148           1.683024  2017
154                       0.056565           2.066005  2017

[155 rows x 13 columns]

In [5]:
df_2018.rename(columns={'Overall rank': 'Happiness Rank', 'Country or region': 'Country', 'Score': 'Happiness Score', 'GDP per capita':'Economy (GDP per Capita)', 'Social support': 'Family', 'Healthy life expectancy': 'Health (Life Expectancy)',
                       'Freedom to make life choices': 'Freedom', 'Perceptions of corruption': 'Trust (Government Corruption)'}, inplace=True)
print(df_2018)

     Happiness Rank                   Country  Happiness Score  \
0                 1                   Finland            7.632
1                 2                    Norway            7.594
2                 3                   Denmark            7.555
3                 4                   Iceland            7.495
4                 5               Switzerland            7.487
..              ...                       ...              ...
151             152                     Yemen            3.355
152             153                  Tanzania            3.303
153             154               South Sudan            3.254
154             155  Central African Republic            3.083
155             156                   Burundi            2.905

     Economy (GDP per Capita)  Family  Health (Life Expectancy)  Freedom  \
0                       1.305   1.592                     0.874    0.681
1                       1.456   1.582                     0.861    0.686
2                       1.351   1.590                     0.868    0.683
3                       1.343   1.644                     0.914    0.677
4                       1.420   1.549                     0.927    0.660
..                        ...     ...                       ...      ...
151                     0.442   1.073                     0.343    0.244
152                     0.455   0.991                     0.381    0.481
153                     0.337   0.608                     0.177    0.112
154                     0.024   0.000                     0.010    0.305
155                     0.091   0.627                     0.145    0.065

     Generosity  Trust (Government Corruption)  Year
0         0.202                          0.393  2018
1         0.286                          0.340  2018
2         0.284                          0.408  2018
3         0.353                          0.138  2018
4         0.256                          0.357  2018
..          ...                            ...   ...
151       0.083                          0.064  2018
152       0.270                          0.097  2018
153       0.224                          0.106  2018
154       0.218                          0.038  2018
155       0.149                          0.076  2018

[156 rows x 10 columns]

In [6]:
df_2019.rename(columns={'Overall rank': 'Happiness Rank', 'Country or region': 'Country', 'Score': 'Happiness Score', 'GDP per capita':'Economy (GDP per Capita)', 'Social support': 'Family', 'Healthy life expectancy': 'Health (Life Expectancy)',
                       'Freedom to make life choices': 'Freedom', 'Perceptions of corruption': 'Trust (Government Corruption)'}, inplace=True)
print(df_2019)

     Happiness Rank                   Country  Happiness Score  \
0                 1                   Finland            7.769
1                 2                   Denmark            7.600
2                 3                    Norway            7.554
3                 4                   Iceland            7.494
4                 5               Netherlands            7.488
..              ...                       ...              ...
151             152                    Rwanda            3.334
152             153                  Tanzania            3.231
153             154               Afghanistan            3.203
154             155  Central African Republic            3.083
155             156               South Sudan            2.853

     Economy (GDP per Capita)  Family  Health (Life Expectancy)  Freedom  \
0                       1.340   1.587                     0.986    0.596
1                       1.383   1.573                     0.996    0.592
2                       1.488   1.582                     1.028    0.603
3                       1.380   1.624                     1.026    0.591
4                       1.396   1.522                     0.999    0.557
..                        ...     ...                       ...      ...
151                     0.359   0.711                     0.614    0.555
152                     0.476   0.885                     0.499    0.417
153                     0.350   0.517                     0.361    0.000
154                     0.026   0.000                     0.105    0.225
155                     0.306   0.575                     0.295    0.010

     Generosity  Trust (Government Corruption)  Year
0         0.153                          0.393  2019
1         0.252                          0.410  2019
2         0.271                          0.341  2019
3         0.354                          0.118  2019
4         0.322                          0.298  2019
..          ...                            ...   ...
151       0.217                          0.411  2019
152       0.276                          0.147  2019
153       0.158                          0.025  2019
154       0.235                          0.035  2019
155       0.202                          0.091  2019

[156 rows x 10 columns]

In [10]:
dataframes = [df_2015, df_2016, df_2017, df_2018, df_2019]
result = pd.concat(dataframes, sort='False', ignore_index='True')
result

,Country,Dystopia Residual,Economy (GDP per Capita),Family,Freedom,Generosity,Happiness Rank,Happiness Score,Health (Life Expectancy),Lower Confidence Interval,Region,Standard Error,Trust (Government Corruption),Upper Confidence Interval,Whisker.high,Whisker.low,Year
0,Switzerland,2.51738,1.39651,1.34951,0.66557,0.29678,1,7.587,0.94143,NaN,Western Europe,0.03411,0.41978,NaN,NaN,NaN,2015
1,Iceland,2.70201,1.30232,1.40223,0.62877,0.43630,2,7.561,0.94784,NaN,Western Europe,0.04884,0.14145,NaN,NaN,NaN,2015
2,Denmark,2.49204,1.32548,1.36058,0.64938,0.34139,3,7.527,0.87464,NaN,Western Europe,0.03328,0.48357,NaN,NaN,NaN,2015
3,Norway,2.46531,1.45900,1.33095,0.66973,0.34699,4,7.522,0.88521,NaN,Western Europe,0.03880,0.36503,NaN,NaN,NaN,2015
4,Canada,2.45176,1.32629,1.32261,0.63297,0.45811,5,7.427,0.90563,NaN,North America,0.03553,0.32957,NaN,NaN,NaN,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,Rwanda,NaN,0.35900,0.71100,0.55500,0.21700,152,3.334,0.61400,NaN,NaN,NaN,0.41100,NaN,NaN,NaN,2019
778,Tanzania,NaN,0.47600,0.88500,0.41700,0.27600,153,3.231,0.49900,NaN,NaN,NaN,0.14700,NaN,NaN,NaN,2019
779,Afghanistan,NaN,0.35000,0.51700,0.00000,0.15800,154,3.203,0.36100,NaN,NaN,NaN,0.02500,NaN,NaN,NaN,2019
780,Central African Republic,NaN,0.02600,0.00000,0.22500,0.23500,155,3.083,0.10500,NaN,NaN,NaN,0.03500,NaN,NaN,NaN,2019
781,South Sudan,NaN,0.30600,0.57500,0.01000,0.20200,156,2.853,0.29500,NaN,NaN,NaN,0.09100,NaN,NaN,NaN,2019

In [8]:
df_2019.head(10)

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343,2019
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373,2019
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380,2019
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308,2019
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226,2019